<!--継承タグ-->
{% extends 'mini_sns/layout.html' %}
{% block title %}Index{% endblock %}
<!-- %block% と %endblock% の間に書かれたものが、継承元のテンプレートのタグ部分にはめ込まれる-->
{% block header %}
    <h1>SNS</h1>
    <p class="caption"></p>
    {% if messages %}
    <ul cla ss="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        <!--for文タグ 繰り返し表示する内容を中に書く-->
    </ul>
    {% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="mode" value="__search_form__">
    {{ search_form }}
    <button>Search</button>
</form>
<hr>
<form action="{% url 'index'%}" method="post">
    {% csrf_token %}
    <input type="hidden" name="mode" value="__check_form__">
    {{ check_form }}
    <button>update</button>
</form>
{% for item in contents %}
    <hr>
    <p class="message_public">
        {% if item.group.title == 'public' %}
    <!--if文タグ 条件がTrueのとき表示する内容-->
        [public]
        {% endif %}
    </p>
    <p class="message_content">{{item.content}}</p>
    <p class="message_date">({{item.pub_date}})</p>
    {% if item.share_id > 0 %}
        <hr class="share_line">
        <p class="share_item_content">{{item.get_share}}</p>
    {% endif %}
    <p class="message_owner">
        <span class="message_counter">share={{item.share_count}} good={{item.good_count}}</span>
        "{{item.owner}}"(<a href="{% url 'add' %}?name={{item.owner}}">Add friend</a>)
        <a href="{% url 'share' item.id %}"><button>シェアする</button></a>
        <a href="{% url 'good' item.id %}"><button>いいね！</button></a>
    </p>
{% endfor %}
{% endblock %}
